<!DOCTYPE html>

<html dir="ltr" lang="en-us">    
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name ="description" content ="Web Interface for STEM Club's Arduino Balance Beam IOT Project.">
  <meta name ="keywords" content ="IOT, Arduino, RaspberryPi, PID">
  <meta name ="author" content ="Adonay Berhe, Felicia James">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="..\static\css\menu_list.css">
  <script src="..\static\js\menu_list.js"></script>
  <title>PID IOT Interface </title>  
</head>
<body>
    <div class="w3-container">
      <h2>PID IOT Project</h2>
    
      <div class="w3-row">
        <a href="javascript:void(0)" onclick="openSelection(event, 'Scan');">
          <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red w3-border-red w3-border-red col-xs-6">Scan</div>
        </a>
        <a href="javascript:void(0)" onclick="openSelection(event, 'Configure');">
          <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red w3-border-red w3-border-red col-xs-6">Configure</div>
        </a>
      </div>
    
      <div id="Scan" class="w3-container selection" style="display:none">
        <div class="container-fluid">
          <div class = "row">
           <span onclick="closeMenu();" class="closebtnCross">x</span>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <a href="#" class="thumbnail">
                <img src="..\static\img\arduino_icon.png" alt="Arduino icon">
              </a>
              <p style="text-align:center;">127.0.0.1</p>
            </div>
            <div class="col-xs-3">
              <a href="#" class="thumbnail">
                <img src="..\static\img\arduino_icon.png" alt="Arduino icon">
              </a>
              <p style="text-align:center;">127.0.0.2</p>
            </div>
            <div class="col-xs-3">
              <a href="#" class="thumbnail">
                <img src="..\static\img\arduino_icon.png" alt="Arduino icon">
              </a>
              <p style="text-align:center;">127.0.0.3</p>
            </div>
            <div class="col-xs-3">
              <a href="#" class="thumbnail">
                <img src="..\static\img\arduino.png" alt="Arduino icon">
              </a>
              <p style="text-align:center;">127.0.0.4</p>
            </div>
          </div>
          <div class="row">
            <button type="button" class="btn btn-success">Connect</button>
          </div>
        </div>
      </div>
    
      <div id="Configure" class="w3-container selection" style="display:none">
        <div class = "row">
           <span onclick="closeMenu();" class="closebtnCross">x</span>
        </div>
        <div class = "row">
          <h3>This is Configure Section</h3>
        </div>
      </div>
    </div>
  
    <section class="mission_control">
      <form>
        <label for="kp"> Proportional Constant (K<sub>p</sub>) </label>
        <input id="kp" name="Proportional Constant (Kp)" type="number" step="any" required placeholder="10">
        
        <label for="ki"> Integral Constant (K<sub>i</sub>) </label>
        <input  id="ki" name="Integral Constant (Ki)" type="number" step="any" required placeholder="10">
        
        <label for="kd"> Derivative Constant (K<sub>d</sub>) </label>
        <input id="kd" name="Derivative Constant (Kd)" type="number" step="any" required placeholder="10"> 
  
        <label for="angle"> Balance Beam Start Angle </label>
        <input id="angle" name="Balance Beam Start Angle" type="number" step="any" required placeholder="45"> 
        
        <button id="runBtn" type="submit" class="btn btn-primary" onclick="changeRunButtonColor()"> Run Test </button>         
      </form>
    </section>

    <section class="output">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center;"> Output Feed </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/JFTJ2SS4xyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>PID Values [K<sub>p</sub>, K<sub>i</sub>, K<sub>d</sub>]</th>
                    <th>Start Angle</th>
                    <th>Balance Time (s)</th>
                    <th>Date(mm/dd/yyyy)</th>
                    <th>Time(hr/mm/ss)</th>
                  </tr>
                  <tr>
                    <td>10,12,14</td>
                    <td>45</td>
                    <td>3.5</td>
                    <td>11/11/2011</td>
                    <td>13/54/06</td>
                  </tr>
                  <tr>
                    <td>10,13,20</td>
                    <td>50</td>
                    <td>4</td>
                    <td>11/11/2011</td>
                    <td>13/57/01</td>
                  </tr>
                  <tr>
                    <td>10,13,20</td>
                    <td>50</td>
                    <td>4</td>
                    <td>11/11/2011</td>
                    <td>13/57/01</td>
                  </tr>
                  <tr>
                    <td>10,13,20</td>
                    <td>50</td>
                    <td>4</td>
                    <td>11/11/2011</td>
                    <td>13/57/01</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </section>
</body>
</html>

