<!DOCTYPE html>

<html dir="ltr" lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name ="description" content ="Web Interface for STEM Club's Arduino Balance Beam IOT Project.">
  <meta name ="keywords" content ="IOT, Arduino, RaspberryPi, PID, STEM">
  <meta name ="author" content ="Adonay Berhe, Felicia James">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"><!--this css style sheet has access spinners unlike one above-->
  <link rel="stylesheet" type="text/css" href="../static/css/IOT_project.css"> <!--link to css style sheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT%20Serif"> <!--link to google fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--<script src="https://wzrd.in/standalone/mime@latest"></script>-->
  <script type="text/javascript" src="..\static\js\device_list.js"></script>
  <script type="text/javascript" src="..\static\js\function_test_list.js"></script>
  <script type="text/javascript" src="..\static\js\pid.js"></script>
  <link rel="stylesheet" href="..\static\css\device_list.css">

  <title>NIA STEM Club | PID IOT Interface </title>
</head>
<body onload="getPreviouslyPairedDevices()">
    <!--Create responsive navigation bar that collapses at medium resolution i.e tablets-->
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #fffdfb;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="true">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="padding: 10px;" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
				<a class="nav-link" href="{{ url_for('home') }}">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="projects.html">Projects<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

	<section id="showcase">
		<div class="container-fluid">
			<div class="jumbotron img-shadow welcome_jumbotron" >
			  <h1 class="display-4">PID Controller Project</h1>
			  <p class="lead">
 			    Welcome to the PID-Controller web app!<br>This application is a remote access IoT controller that utilizes an Arduino & Raspberry Pi to balance a ping-pong ball in the center of a beam.</br>
			  </p>
			  <p class="lead"><a class="btn btn-outline-dark btn-lg" href="#learnMore" role="button">Learn More</a></p>
			</div>
		</div>
	</section>

	<section id="bluetooth">
		<div class="container-fluid">
			<div class="jumbotron menu_bar img-shadow"  style="background-color: #fffdfb;">
				<div class="w3-bottombar w3-padding w3-border-red w3-hover-light-grey" style="margin-bottom:20px">
					<h5>Previously Paired Bluetooth Devices</h5>
				</div>
				<div class="bt_row" id="previouslypaired_bt_row">
				  <div class="container-fluid">
						<div id="PreviousPaired" class="selection" style="align-items: center; justify-content: center; margin-top: 20px; display:none;"></div>
				  </div>
				</div>
				<div class="w3-bottombar w3-padding w3-border-red w3-hover-light-grey" style ="margin-bottom: 20px">
					<h5>Available Bluetooth Devices</h5>
				</div>
				<div class="bt_row" id="available_bt_row" >
					<div class="container-fluid">
						<div id="Scan" class="selection" style="align-items: center; justify-content: center; margin-top: 20px; display:none;">
							<h6>Scanning for bluetooth devices &nbsp &nbsp </h6> <!-- animated spinners -->
							<div class="spinner-grow spinner-grow-sm text-primary" style="animation: spinner-grow 1.10s ease-in-out 0.2s infinite;" role="status"></div>
							<div class="spinner-grow spinner-grow-sm text-primary" style="animation: spinner-grow 1.10s ease-in-out 0.4s infinite;" role="status"></div>
							<div class="spinner-grow spinner-grow-sm text-primary" style="animation: spinner-grow 1.10s ease-in-out 0.6s infinite;" role="status"></div>
						</div>
					</div>
				</div>

				<div class="bt_row">
					<button id="scanBtn" type="" class="btn btn-primary" onclick="getScanDevices()" style ="margin-right:4px;"> Scan </button>
					<button id="connectBtn" type="submit" class="btn btn-primary" onclick="triggerConnection(this)" style ="margin-left:4px"> Connect </button>
				</div>
			</div>
		</div>
    </section>

	<section id="Functional_Testing">
		<div class="container-fluid">
			<div class="jumbotron img-shadow" style="background-color: #fffdfb; font-family: PT Serif;">
				<div class="w3-bottombar w3-padding w3-border-red"style="margin-bottom:20px">
					<h5>Functional Testing</h5>
				</div>
				<p class="lead">
				Run sanity tests to check software functionality
				</p>
				<div class="progressbar">
					<ul id="function_tests_row">
						<li name="function_test" id="BT Connection">
							<i class="fa fa-bluetooth" aria-hidden="true"></i><br>
							<i class="fa status_icon"></i>
						<!--<i class="fa fa-check status_icon completed"></i>-->
							<p>BT Connection</p>
						</li>
						<li name="function_test" id="Video Feed">
							<i class="fa fa-video-camera" aria-hidden="true"></i><br>
							<i class="fa status_icon"></i>
						<!--<i class="fa fa-times status_icon failed"></i> -->
							<p>Video Feed</p>
						</li>
						<li name="function_test" id="Sensor Detection">
							<i class="fa fa-rss" aria-hidden="true"> </i><br>
							<i class="fa status_icon "></i>
						<!--<i class="fa fa-check status_icon "></i> -->
							<p>Sensor Detection</p>
						</li>
						</li>
						<li name="function_test" id="Servo Motors">
							<i class="fa fa-cogs" aria-hidden="true"></i><br>
							<i class="fa status_icon"></i>
						<!--<i class="fa fa-check status_icon"></i> -->
							<p>Servo Motors</p>
						</li>
					</ul>
				</div>
				<button id="runBtn" type="submit" class="btn btn-primary" onclick="runFunctionTests()" style="display: block"> Run Tests </button>
			</div>
		</div>
	</section>

    <section id="Input_Table">
		<div class="container-fluid">
			<div class="jumbotron img-shadow" style="background-color: #fffdfb; font-family: PT Serif;">
				<div class="w3-bottombar w3-padding w3-border-red"style="margin-bottom:20px">
					<h5>Input Table</h5>
				</div>
				<p class="lead">
				Enter integer values for the PID variables K<sub>p</sub>, K<sub>i</sub>, K<sub>d</sub>, and Angle to program the Arduino using the table below.
				</p>
				<table class="table table-hover table-dark" style="border-radius: .3rem">
				  <thead>
					<tr>
					  <th scope="col">Proportional Constant (K<sub>p</sub>)</th>
					  <th scope="col">Integral Constant (K<sub>i</sub>)</th>
					  <th scope="col">Derivative Constant (K<sub>d</sub>)</th>
					  <th scope="col">Balance Beam Start Angle <sup>0</sup></th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">
						<form id="kp">
							<div class="form-group">
							<input type="number" name="kp_input" class="form-control form-control-sm" placeholder="10" id="Textarea1"> </input>
						  </div>
						</form>
					  </th>
					  <td>
						<form id="ki">
							<div class="form-group">
							<input type="number" name="ki_input" class="form-control form-control-sm" placeholder="10" id="Textarea2"> </input>
						  </div>
						</form>
					  </td>
					  <td>
						<form id="kd">
							<div class="form-group">
							<input type="number" name="kd_input" class="form-control form-control-sm" placeholder="10" id="Textarea3"> </input>
						  </div>
						</form>
					  </td>
					  <td>
						<form id="angle">
							<div class="form-group">
							<input type="number" name="angle_input" class="form-control form-control-sm" id="Textarea4"> </input>
						  </div>
						</form>
					  </td>
					</tr>
				  </tbody>
				</table>
				<button id="submit_pid_btn" type="submit" class="btn btn-primary" onclick="sendPID()"> Run PID </button>
			</div>
		</div>
	</section>

	<section id="output_table">
		<div class="container-fluid">
			<div class="jumbotron img-shadow"  style="background-color: #fffdfb;">
				<div class="w3-bottombar w3-padding w3-border-red" style="margin-bottom:20px">
					<h5>Output Feed</h5>
				</div>
				<div class="row" >
					<div class="col" id="videofeed_col">
						<!--<h5>Embedded Video</h5> -->
						<!--<div class="embed-responsive embed-responsive-4by3">-->
						<!--                 <iframe style="height:100%" src="{{ url_for('video_feed') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
						<!-- <img src="{{ url_for('video_feed') }}" style="width:100%;height:100%;"> -->
						<img src="..\static\img\no_video_icon.png" style="width:100px;height:125px;" id="stream_video"></img>
						<script>
							function streamVideo(){
								var vf_row = document.getElementById("videofeed_col");
								clearChildNodes("videofeed_col");
								var vf_img = document.createElement("img");
								vf_img.setAttribute("style", "width:100%;height:100%");
								vf_img.setAttribute("src", "{{ url_for('video_feed') }}");
								vf_img.setAttribute("alt","Video Feed Not Available");
								vf_row.appendChild(vf_img);

								var vf_btn = document.getElementById("videoBtn");
								vf_btn.onclick= function(){endVideo()};
								vf_btn.setAttribute("data-toggle","popover");
								vf_btn.setAttribute("data-container","body");
								vf_btn.setAttribute("data-content","Click to turn off camera");
								<!-- vf_btn.setAttribute("onClick",'endVideo'); -->
								document.querySelector('#videoBtn').innerHTML = 'End Video';
							};
						</script>
						<script>
							function endVideo(){
								var vf_row = document.getElementById("videofeed_col");
								clearChildNodes("videofeed_col");
								var vf_img = document.createElement("img");
								vf_img.setAttribute("style", "width:100px;height:125px");
								vf_img.setAttribute("src", "..\\static\\img\\no_video_icon.png");
								vf_img.setAttribute("id","stream_video");
								vf_img.setAttribute("alt","Video Feed Not Available");
								vf_row.appendChild(vf_img);

								var vf_btn = document.getElementById("videoBtn");
								vf_btn.setAttribute("data-toggle","popover");
								vf_btn.setAttribute("data-container","body");
								vf_btn.setAttribute("data-content","Click to turn on camera");
								vf_btn.onclick= function(){streamVideo()};
								document.querySelector('#videoBtn').innerHTML = 'Start Video';

							};
						</script>
					</div>

					<div class="col">
						<div class="table-responsive h-100">
							<table class="table table-dark h-100" style="margin:0px;text-align:center;border-radius: .3rem">
								<thead>
								<tr>
									<th scope="col">PID Values (K<sub>p</sub>, K<sub>i</sub>, K<sub>d</sub>)</th>
									<th scope="col">Start Angle</th>
									<th scope="col">Balance Time (s)</th>
									<th scope="col">Date (mm/dd/yyyy)</th>
									<th scope="col">Time (hh.mm.ss)</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th scope="row">10,12,14</th>
									<td>45&#176;</td>
									<td>3.5</td>
									<td>11/11/2020</td>
									<td>13.54.06</td>
								</tr>
								<tr>
									<th scope="row">10,13,20</th>
									<td>50&#176;</td>
									<td>4</td>
									<td>11/11/2020</td>
									<td>13.57.01</td>
								</tr>
								<tr>
									<th scope="row">10,13,20</th>
									<td>50&#176;</td>
									<td>4</td>
									<td>11/11/2020</td>
									<td>13.57.01</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<button id="videoBtn" type="submit" class="btn btn-primary" onclick="streamVideo()" style="margin-left:4px;margin-top:1rem" data-toggle="popover" data-container="body" data-content="Click to turn on camera"> Start Video </button>
			</div>
		</div>
	</section>

	<section id="learnMore">
		<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover({
				placement : 'top',
				trigger: 'hover'
			});
		});
		</script>
		<div class="container-fluid">
			<div class="jumbotron img-shadow" style="background-color: #fffdfb; font-family: PT Serif;">
			  <h1 class="display-4">Arduino PID Controller - Ball Balance</h1>
			  <p class="lead"><i>
			  PID Controller - A proportional–integral–derivative controller (PID controller or three-term controller) is a control loop mechanism employing feedback that is widely used in industrial control systems and a variety of other applications requiring continuously modulated control.
			  </i></p>
			  <div class="row">
                <div class="col">
				<img src="..\static\img\PID-control_illustration.jpg" alt="PID-control illustration" style="max-width:100%;height:500px;"> </img>
				</div>
				<div class="col">
				<img src="..\static\img\pid_controller_equation.png" alt="PID_controller_equation" style="align-items: center;"> </img>
				</div>
			  </div>
			  <h5>Control System Breakdown</h5>
			  <ul class="lead">
			    <li>P [Process] - The Ping-Pong Ball position</li>
			    <li>Sp [Setpoint position] - Arduino programmed desired middle position</li>
			    <li>Fp [Feedback position] - Ultrasonic Distance Sensor real position based on distance reading</li>
				<li><u data-toggle="popover" title="Note:" data-container="body" data-content="Error is the difference between the desired ping-pong ball position (Sp) and the actual ping-pong ball position measured by the sensor (Fp).">E [Error]- E = Sp - Fp</u></li>
			    <li>PID_p = Kp * E</li>
				<li><u data-toggle="popover" title="Note:" data-container="body" data-content="The integral is based on the sum of error over time. So at t0 the will be the integral constanct * the error, but this will grow and decrease gradually over time as the error changes.">PID_i = PID_i + Ki * E</u></li>
			    <li><u data-toggle="popover" title="Note:" data-container="body" data-content="For the derivitave calculation we consider the ping-pong ball velocity. Which is the change in position (displacement) divided by the change in time. Δx/Δt, where Δx is the current Error (Ec) - the previous error (Ep).">PID_d = Kd * (Ec - Ep /Δt)</u></li>
			  </ul>
			  <h5>Major Components</h5>
			  <ul class="lead">
			    <li>Arduino Uno</li>
			    <li>HC-05 Bluetooth Module</li>
			    <li>Sg90 Micro Servo</li>
				<li>Ultrasonic Distance Sensor</li>
			  </ul>
			  <h5>Desired Features</h5>
			  <ol class="lead">
			    <li>The Arduino should be able to provide the position of the ping-pong ball by reading the ultrasonic distance sensor.</li>
			    <li>The Arduino should be able to actuate the servo to pivot a balance beam left and right quickly.</li>
			    <li><u data-toggle="popover" title="Note:" data-container="body" data-content="The main result would be the time needed to balance the ping-pong ball.">The Arduino should be able to both receive commands from a raspberry pi & return results over a bluetooth connection using the hc-05 bluetooth module.</u></li>
				<li>The Control System should be able to balance the ping-pong ball from any starting point of the ping-pong ball along the balance beam and from any starting position of the balance beam (i.e. starting at an angle that is not 0 degrees; parallel to the base).</li>
				<li>The Control System should be able to accept PID parameter values (Kp, Ki, Kd) sent to it from the Raspberry Pi.</li>
				<li>Upon power up, the balance beam should have a default start position.</li>
				<li>The Arduino should be able to set specific balance beam position/angles to start at (i.e. -20 degrees or 30 degrees).</li>
				<li>The Arduino should have a general response message for verifying bluetooth communication with the Raspberry Pi. (i.e. Pi sends: "?", Arduino response: "!")</li>
			  </ol>
			</div>
		</div>
	</section>

<!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4" style="background-color: #fffdfb;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <a class="git-ic" href="https://github.com/NIAGroup">
                        <i class="fa fa-github" style="font-size:48px;color:black;margin-right:15px"></i>
                    </a>
                    <a class="linkedin-ic">
                        <i class="fa fa-linkedin-square" style="font-size:48px;color:black"></i>
                    </a>
                </div>

                <!-- Copyright -->
                <div class="footer-copyright col-sm-4 " style="color: #323644">
                    NIA STEM Club, Copyright &copy; 2020
                </div>

                <div class="col-sm-4">
                    <form class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="john.doe@intel.com" aria-label="Your email" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </footer>

<!-- Footer -->
</body>
</html>