<!DOCTYPE html>

<html dir="ltr" lang="en-us">    
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name ="description" content ="Web Interface for STEM Club's Arduino Balance Beam IOT Project.">
  <meta name ="keywords" content ="IOT, Arduino, RaspberryPi, PID, STEM">
  <meta name ="author" content ="Adonay Berhe, Felicia James">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="..\static\css\menu_list.css">
  <!--<<link rel="stylesheet" href="..\static\css\table_style.css">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"><!--this css style sheet has access spinners unlike one above-->
  <link rel="stylesheet" type="text/css" href="../static/css/IOT_project.css"> <!--link to css style sheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT%20Serif"> <!--link to google fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="..\static\js\menu_list.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <title>NIA STEM Club | PID IOT Interface </title>  
</head>
<body>
    <!--Create responsive navigation bar that collapses at medium resolution i.e tablets-->
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #fffdfb;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="true">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="padding: 10px;" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
				<a class="nav-link" href="{{ url_for('home') }}">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="projects.html">Projects<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
	<section id="showcase">
		<div class="container-fluid">
			<div class="jumbotron img-shadow" style="background-color: #fffdfb; font-family: PT Serif;">
			  <h1 class="display-4">PID IOT Project</h1>
			  <p class="lead">
			  Welcome to the IOT project! This is a remote access IOT project communicating via bluetooth between an Arduino & Raspberry Pi.<br>The objective of this project is to balance a ping-pong ball in the center of a beam using an arduino, which then communicates the results to a raspberry pi via a Bluetooth connection.
			  </p>
			  <p class="lead"><a class="btn btn-outline-dark btn-lg" href="#learnMore" role="button">Learn more</a></p>
			</div>
		</div>
	</section>
	<section id="bluetooth">
		<div class="container-fluid">
		  <div class="jumbotron menu_bar img-shadow"  style="background-color: #fffdfb;">
			<div class="row" >
				<div class="col">
					<a href="javascript:void(0)" onclick="openSelection(event, 'MyBTDevices');">
						<div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red col-xs-6">
						<h5>Connected Devices</h5>
						</div>
					</a>
				</div>
				<div class="col">
					<a href="/scan" onclick="openSelection(event, 'Scan');">
						<div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red w3-border-red w3-border-red col-xs-6">
						<h5>Scan for Bluetooth Devices</h5>
						</div>
					</a>
				</div>
			</div>

			<div id="MyBTDevices" class="w3-container selection" style="display:none">
			  <div class="container-fluid">
				<div class = "row">
				  <span onclick="closeMenu();" class="closebtnCross">x</span>
				</div>

			    <div class = "column spinners" style="text-align: center;">
				  <h6>No Devices Connected...</h6> <!-- animated spinners -->
				  <div class="spinner-grow spinner-grow-sm text-primary" style="animation: spinner-grow 1.10s ease-in-out 0.2s infinite;" role="status"></div>
				  <div class="spinner-grow spinner-grow-sm text-primary" style="animation: spinner-grow 1.10s ease-in-out 0.4s infinite;" role="status"></div>
				  <div class="spinner-grow spinner-grow-sm text-primary" style="animation: spinner-grow 1.10s ease-in-out 0.6s infinite;" role="status"></div>
				  <span class="sr-only">Loading...</span>
			    </div>
			  </div>
			</div>
			<div id="Scan" class="w3-container selection" style="display:block">
			  <div class = "row">
				<span onclick="closeMenu();" class="closebtnCross">x</span>
			  </div>
			  <div class="row">
					{% if devices %}
					  {% for device in devices %}
						<div class="col">
						  <a class="thumbnail" onclick="thumbnailSelect()">
						    <img src="..\static\img\arduino_icon_transparent.jpg" alt="Arduino icon">
						  </a>
						  <p style="text-align:center;">{{ device }}</p>
					    </div>
					  {% endfor %}
					{% else %}
				      {% if error %}
				  		<div class="alert alert-warning" role="alert">
						  {{ error }}
						</div>
				      {% else %}
				  		<h6> Couldn't Find any bluetooth devices.</h6>
				      {% endif %}
					{% endif %}
			  </div>
			  <div class="row">
				<button id="connectBtn" type="submit" class="btn btn-primary" onclick="changeConnectButtonColor()"> Connect </button>
			  </div>
			</div>
		  </div>
		</div>
    </section>
    
    <section id="Input_Table">
		<div class="container-fluid">
			<div class="jumbotron img-shadow" style="background-color: #fffdfb; font-family: PT Serif;">
				<div class="w3-bottombar w3-padding w3-border-red"style="margin-bottom:20px">
					<h5>Input Table</h5>
				</div>
				<p class="lead">
				Enter in the constants that you want to program onto the arduino in the table below 
				</p>
				<table class="table table-hover table-dark" style="border-radius: .3rem">
				  <thead>
					<tr>
					  <th scope="col">Proportional Constant (K<sub>p</sub>)</th>
					  <th scope="col">Integral Constant (K<sub>i</sub>)</th>
					  <th scope="col">Derivative Constant (K<sub>d</sub>)</th>
					  <th scope="col">Balance Beam Start Angle</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">
						<form>
							<div class="form-group">
							<input type="number" class="form-control form-control-sm" placeholder="10" id="Textarea1" rows="3"></input>
						  </div>
						</form>
					  </th>
					  <td>
						<form>
							<div class="form-group">
							<input type="number" class="form-control form-control-sm" placeholder="10" id="Textarea1" rows="3"></input>
						  </div>
						</form>
					  </td>
					  <td>
						<form>
							<div class="form-group">
							<input type="number" class="form-control form-control-sm" placeholder="10" id="Textarea1" rows="3"></input>
						  </div>
						</form>			 
					  </td>
					  <td>
						<form>
							<div class="form-group">
							<input type="number" class="form-control form-control-sm" placeholder="45" id="Textarea1" rows="3"></input>
						  </div>
						</form>			  
					  </td>
					</tr>
				  </tbody>
				</table>
				<button id="runBtn" type="submit" class="btn btn-primary" onclick="changeRunButtonColor()"> Run Test </button>
				<table style="padding: 10px;">
					<tr>
					  <td>
					   <div class="dropdown">
						  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sanity Tests
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" id="bt_sanity_btn" href="#">BT Sanity</a>
							<br><a class="dropdown-item" id="servo_sanity_btn" href="#">Servo Sanity</a>
							<br><a class="dropdown-item" id="sensor_sanity_btn" href="#">Sensor Sanity</a>
						  </div>
						</td>
						<td style="padding: 3px;">
						  </div>
							<input type="text" class="form-control" id="param_fld" placeholder="Servo Angle" aria-label="Username" aria-describedby="basic-addon1">
						  </div>
						</td>
						<td style="padding: 3px;">
						  <div class="btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-info active">
							<input type="checkbox" checked autocomplete="off"> Run Sanity Check
						  </label>
						</div>
					  </td>
					  <td style="padding: 10px;">
						<span class="dot" style="height: 25px; width: 25px;background-color: #bbb;border-radius: 50%; display: inline-block;"></span>
					  </td>
					</tr>
				</table>
				<script>
				  var dropDwn_btn = document.getElementById("dropdownMenuButton");
				  var dropDown_btn_array = [
					document.getElementById("bt_sanity_btn"),
					document.getElementById("servo_sanity_btn"),
					document.getElementById("sensor_sanity_btn"),
				  ];

				  for (i = 0; i<3;i++){
					dropDown_btn_array[i].addEventListener("click", changeText);
				  }
				  function changeText(){
					dropDwn_btn.innerHTML = this.id;
					if (this.id.includes("bt") == true)
					{
					  document.getElementById("param_fld").placeholder = "integer value between 0 & 8";
					}
					if (this.id.includes("sensor") == true)
					{
					  document.getElementById("param_fld").placeholder = "N/A";
					}
					if (this.id.includes("servo") == true)
					{
					  document.getElementById("param_fld").placeholder = "Servo Angle";
					}
				  }
				</script>
			</div>
		</div>
	</section>
	<section id="output_table">
		<div class="container-fluid">
		  <div class="jumbotron img-shadow"  style="background-color: #fffdfb;">
			<div class="w3-bottombar w3-padding w3-border-red" style="margin-bottom:20px">
				<h5>Output Feed</h5>
			</div>
			<div class="row" >
				<div class="col">
				<!--<h5>Embedded Video</h5> -->
				<div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/JFTJ2SS4xyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
				</div>
				<div class="col">
					<div class="table-responsive h-100">
						<table class="table table-dark h-100" style="margin:0px;text-align:center;">
						  <thead>
							<tr>
							  <th scope="col">PID Values (K<sub>p</sub>, K<sub>i</sub>, K<sub>d</sub>)</th>
							  <th scope="col">Start Angle</th>
							  <th scope="col">Balance Time (s)</th>
							  <th scope="col">Date (mm/dd/yyyy)</th>
							  <th scope="col">Time (hh.mm.ss)</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">10,12,14</th>
							  <td>45&#176;</td>
							  <td>3.5</td>
							  <td>11/11/2020</td>
							  <td>13.54.06</td>
							</tr>
							<tr>
							  <th scope="row">10,13,20</th>
							  <td>50&#176;</td>
							  <td>4</td>
							  <td>11/11/2020</td>
							  <td>13.57.01</td>
							</tr>
							<tr>
							  <th scope="row">10,13,20</th>
							  <td>50&#176;</td>
							  <td>4</td>
							  <td>11/11/2020</td>
							  <td>13.57.01</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		  </div>
		</div>
    </section>
	<section id="learnMore">
		<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover({
				placement : 'top',
				trigger: 'hover'
			});
		});
		</script>
		<div class="container-fluid">
			<div class="jumbotron img-shadow" style="background-color: #fffdfb; font-family: PT Serif;">
			  <h1 class="display-4">Arduino PID Controller - Ball Balance</h1>
			  <p class="lead"><i>
			  PID Controller - A proportional–integral–derivative controller (PID controller or three-term controller) is a control loop mechanism employing feedback that is widely used in industrial control systems and a variety of other applications requiring continuously modulated control.
			  </i></p>
			  <div class="row">
                <div class="col">
				<img src="..\static\img\PID-control_illustration.jpg" alt="PID-control illustration" style="max-width:100%;height:500px;"></img>
				</div>
				<div class="col">
				<img src="..\static\img\pid_controller_equation.png" alt="PID_controller_equation" style="align-items: center;"></img>
				</div>
			  </div>
			  <h5>Control System Breakdown</h5>
			  <ul class="lead">
			    <li>P [Process] - The Ping-Pong Ball position</li>
			    <li>Sp [Setpoint position] - Arduino programmed desired middle position</li>
			    <li>Fp [Feedback position] - Ultrasonic Distance Sensor real position based on distance reading</li>
				<li><u data-toggle="popover" title="Note:" data-container="body" data-content="Error is the difference between the desired ping-pong ball position (Sp) and the actual ping-pong ball position measured by the sensor (Fp).">E [Error]- E = Sp - Fp</u></li>
			    <li>PID_p = Kp * E</li>
				<li><u data-toggle="popover" title="Note:" data-container="body" data-content="The integral is based on the sum of error over time. So at t0 the will be the integral constanct * the error, but this will grow and decrease gradually over time as the error changes.">PID_i = PID_i + Ki * E</u></li>
			    <li><u data-toggle="popover" title="Note:" data-container="body" data-content="For the derivitave calculation we consider the ping-pong ball velocity. Which is the change in position (displacement) divided by the change in time. Δx/Δt, where Δx is the current Error (Ec) - the previous error (Ep).">PID_d = Kd * (Ec - Ep /Δt)</u></li>
			  </ul>
			  <h5>Major Components</h5>
			  <ul class="lead">
			    <li>Arduino Uno</li>
			    <li>HC-05 Bluetooth Module</li>
			    <li>Sg90 Micro Servo</li>
				<li>Ultrasonic Distance Sensor</li>
			  </ul>
			  <h5>Desired Features</h5>
			  <ol class="lead">
			    <li>The Arduino should be able to provide the position of the ping-pong ball by reading the ultrasonic distance sensor.</li>
			    <li>The Arduino should be able to actuate the servo to pivot a balance beam left and right quickly.</li>
			    <li><u data-toggle="popover" title="Note:" data-container="body" data-content="The main result would be the time needed to balance the ping-pong ball.">The Arduino should be able to both receive commands from a raspberry pi & return results over a bluetooth connection using the hc-05 bluetooth module.</u></li>
				<li>The Control System should be able to balance the ping-pong ball from any starting point of the ping-pong ball along the balance beam and from any starting position of the balance beam (i.e. starting at an angle that is not 0 degrees; parallel to the base).</li>
				<li>The Control System should be able to accept PID parameter values (Kp, Ki, Kd) sent to it from the Raspberry Pi.</li>
				<li>Upon power up, the balance beam should have a default start position.</li>
				<li>The Arduino should be able to set specific balance beam position/angles to start at (i.e. -20 degrees or 30 degrees).</li>
				<li>The Arduino should have a general response message for verifying bluetooth communication with the Raspberry Pi. (i.e. Pi sends: "?", Arduino response: "!")</li>
			  </ol>
			</div>
		</div>
	</section>

<!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4" style="background-color: #fffdfb;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <a class="git-ic" href="https://github.com/NIAGroup">
                        <i class="fa fa-github" style="font-size:48px;color:black;margin-right:15px"></i>
                    </a>
                    <a class="linkedin-ic">
                        <i class="fa fa-linkedin-square" style="font-size:48px;color:black"></i>
                    </a>
                </div>
                
                <!-- Copyright -->
                <div class="footer-copyright col-sm-4 " style="color: #323644">
                    NIA STEM Club, Copyright &copy; 2020
                </div>
                
                <div class="col-sm-4">
                    <form class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="john.doe@intel.com" aria-label="Your email" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
    </footer>

<!-- Footer -->


</body>
</html>

