<!DOCTYPE html>

<!-- index_2 updated to include boostrap -->
<!-- homepage_index_2 updated to accomadate flask directory structure-->


<html lang="en">
<head> <!--head is a container for metadata (data about data) -->
	<meta charset="UTF-8">
	<meta name ="viewport" content ="width=device.width, initial-scale=1.0"><!--viewport is used to set the width of the template for the website since it is a responsive website -->
	<meta name ="description" content ="Webpage for NIA STEM Club">
	<meta name ="keywords" content ="STEM, Network of Intel African Americans, NIA">
	<meta name ="author" content ="Felicia James">
	<title>NIA STEM Club | Welcome</title>
	<link rel="icon" href="../static/img/STEM_Club_Logo_White.png" sizes="18x18" type="image/png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/homepage.css"> <!--link to css style sheet -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT%20Serif"> <!--link to google fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!--Create responsive navigation bar that collapses at medium resolution i.e tablets-->
	<header>
		<nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #fffdfb;">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="../static/img/STEM_Club_Logo_White.png" width="70" height=auto alt="img">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="#navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="homepage.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="projects.html">Projects <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gallery.html">Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<section id="showcase">
		<div class="jumbotron jumbotron-fluid" style="background-color:transparent">
			<span class="border-0"></span>
			<video id="video-background" preload muted autoplay loop>
				<source src="../static/img/High_Tech_Logo_V07.mp4" type="video/mp4">
			</video>
		</div>
	</section>