body {
  font-family: 'lato', sans-serif;
  font-weight: 100;
}

.closebtn {
  float: right;
}

.closebtnCross {
  float: right;
  color: rgb(197, 17, 17);
  font-size: 35px;
  cursor: pointer;
}

.mission_control, .output {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.output{
  justify-content: center;
}
/*
tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: #555;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}
*/