body {
  font-family: 'lato', sans-serif;
  font-weight: 100;
}
.closebtn {
  float: right;
}
.closebtnCross {
  float: right;
  color: rgb(197, 17, 17);
  font-size: 35px;
  cursor: pointer;
}
.mission_control, .output {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.output{
  justify-content: center;
}